# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = unitedarrow.settings

[deploy]
#url = http://localhost:6023/
project = unitedarrow
